{% load i18n %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Página oficinal de club BTT Guadiabike">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Guadiabike</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="196x196" href="{{ STATIC_URL }}images/touch/chrome-touch-icon-196x196.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Guadiabike BTT">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ STATIC_URL }}images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

	{% block style %}
	<!-- CSS -->
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/ui-helpers.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}theme/blue.css">

        <!--[if lt IE 9]>

        <![endif]-->
	{% endblock %}

	{% block extrastyle %}{% endblock %}

	{% block js %}
    <!-- JS Libraries -->
        <script src="{{ STATIC_URL }}scripts/jquery.js"></script>
        <script src="{{ STATIC_URL }}scripts/jquery-ui.min.js"></script>
        <script src="{{ STATIC_URL }}scripts/main.js"></script>
	{% endblock %}

	{% block extrajs %}{% endblock %}

    <title>{% block title %}{% endblock %}</title>

	{% block blockbots %}
	<meta name="robots" content="NONE,NOARCHIVE" />
	{% endblock %}

</head>

<body {% block bodyattr %}{% endblock %}>

    <div class="jp-main-shadow"></div>

    {% block header %}{% endblock %}

    <div class="jp-main-content">

        {% block breadcrumbs %}{% endblock %}

        {% block content %}{% endblock %}

        {% block nav %}{% endblock %}

    	<div style="clear: both;"></div>
	</div>

    {% block footer %}{% endblock %}

    {% block extrascripts %}{% endblock %}

</body>
</html>