{% extends "_template/base.html" %}

{% load i18n %}
{% load security %}

{% block header %}

    <!-- MENU DE NAVEGACION MOBILE
	---------------------------------------------------------------------------------------- -->

    <div id="jp-menu-mobile" class="jp-menu-mobile" style="display: none;">
        <div style="">Contenido</div>
    </div>

	<!-- HEADER - Logo y navegación
	---------------------------------------------------------------------------------------- -->

	<div id="jp-main-header" class="jp-main-header">
		<div class="content ui-table">

            <div id="jp-main-header-button-menu" class="action ui-table-cell ui-mobile">
                {% block menu-mobile %}<img src="{{ STATIC_URL }}images/md/navigation/ic_menu_white_24dp.png"/>{% endblock %}
            </div>

			<div class="logo ui-table-cell">GUADIABIKE</div>

            <div id="large-mode">&nbsp;</div>

			<div class="menu ui-table-cell">
                <div class="options">
                    <div class="option" onclick="location.href='{% url 'home' %}';">Inicio</div>

                    {% if user.is_authenticated %}
                    <div class="option" onclick="location.href='{% url 'logout' %}';">Logout</div>
                    {% endif %}

                    {% if request.user|has_group:'administradores' %}
                    <div class="option" onclick="location.href='{% url 'administration:admin_index' %}';">Administración</div>
                    {% endif %}
                </div>
			</div>

			<div class="action ui-table-cell"><img src="{{ STATIC_URL }}images/md/action/ic_search_white_18dp.png"/></div>
			<div class="action ui-table-cell"><img src="{{ STATIC_URL }}images/md/communication/ic_message_white_18dp.png"/></div>
			<div class="action ui-table-cell"><img src="{{ STATIC_URL }}images/md/social/ic_person_white_18dp.png"/></div>
            <!--
			<div class="action ui-table-cell"><img src="{{ STATIC_URL }}images/md/navigation/ic_more_vert_white_16dp.png"/></div>
            -->
		</div>
	</div>

{% endblock %}

{% block nav %}

		<div class="jp-nav">
			<div class="box">

				<div class="section">
					<div class="title">title</div>
					<div class="action">action</div>
					<div class="content">
						content
					</div>
				</div>
			</div>
		</div>

{% endblock %}

{% block breadcrumbs %}
    <!--
    <div class="bk-breadcrumbs">
        <ul>{% block breadcrumbs-list %} <li><a href="{% url 'home' %}">Inicio</a></li> {% endblock %}</ul>
    </div>
    -->
{% endblock %}


