{% extends "_template/base.html" %}

{% load i18n %}
{% load security %}

{% block header %}


	<!-- HEADER - Logo y navegación
	---------------------------------------------------------------------------------------- -->

	<div id="jp-main-header" class="jp-main-header">
		<div class="content ui-table">

            <div class="action ui-table-cell ui-mobile">
                {% block menu-mobile %}<img onclick="index_menu_mobile_slide()" src="{{ STATIC_URL }}images/md/navigation/ic_menu_white_24dp.png"/>{% endblock %}
            </div>

			<div class="logo ui-table-cell">GUADIABIKE</div>

            <div id="large-mode">&nbsp;</div>

			<div class="menu ui-table-cell">
                <div class="options">
                    <div class="option" onclick="location.href='{% url 'home' %}';">
                        <span class="icon"><img src="{{ STATIC_URL }}images/md/action/ic_home_grey600_48dp.png" height="10px"/></span>
                        Inicio
                    </div>

                    {% if user.is_authenticated %}
                        <div class="option" onclick="location.href='{% url 'logout' %}';">
                            <span class="icon"><img src="{{ STATIC_URL }}images/md/social/ic_person_outline_grey600_48dp.png" height="10px"/></span>
                            Logout
                        </div>
                    {% endif %}

                    {% if request.user|has_group:'administradores' %}
                    <div class="option" onclick="location.href='{% url 'administration:admin_index' %}';">Administración</div>
                    {% endif %}
                </div>
			</div>

			<div class="action ui-table-cell"><img src="{{ STATIC_URL }}images/md/action/ic_search_white_18dp.png"/></div>
			<div class="action ui-table-cell"><img src="{{ STATIC_URL }}images/md/communication/ic_message_white_18dp.png"/></div>
			<div class="action ui-table-cell" onclick="location.href='{% url 'login' %}';"><img src="{{ STATIC_URL }}images/md/social/ic_person_white_18dp.png"/></div>
            <!--
			<div class="action ui-table-cell"><img src="{{ STATIC_URL }}images/md/navigation/ic_more_vert_white_16dp.png"/></div>
            -->
		</div>
	</div>

{% endblock %}

{% block nav %}

		<div class="jp-nav">
			<div class="box">

				<div class="section ui-clickeable" onclick="location.href='{% url 'home' %}';">
					<div class="title">Inicio</div>
				</div>

			</div>
		</div>

{% endblock %}

{% block breadcrumbs %}
    <!--
    <div class="bk-breadcrumbs">
        <ul>{% block breadcrumbs-list %} <li><a href="{% url 'home' %}">Inicio</a></li> {% endblock %}</ul>
    </div>
    -->
{% endblock %}


