{% extends "_template/base-page.html" %}

{% load staticfiles %}
{% load i18n %}


{% block content %}

<main>

    <div class="bk-box">
        <div class="info">
            <p class="title">¡{{ formulario.nombre.value }} ya puedes acceder!</p>
        </div>
    </div>

    <div class="bk-box">
        <div class="remember">
            <p>Para acceder utiliza el usuario {{ formulario.correo.value }} y la contraseña establecida.</p><br>
            <p>Pulsa <a href="{% url 'home' %}">aquí</a> para acceder.</p>
        </div>
    </div>

</main>

{% endblock %}