{% extends "_template/base-page.html" %}

{% load i18n %}
{% load binky_calendar %}

{% block content %}

    {% if nextruta %}

    <div class="jp-section">
        <div class="box">

            <div class="box-event-back" onclick="location.href='{% url 'home' %}';"></div>

            <div class="box-header">
                <div class="image">
                        <img src="{{ MEDIA_URL }}{{ nextruta.ruta.imagen_principal }}"/>
                </div>
                <div class="center">
                    <span class="title">{{ nextruta.ruta.nombre }}</span>
                    <span class="subtitle">{{ nextruta.eventoTipo }}, dificultad {{ nextruta.ruta.dificultad }} </span>
                    <span class="subsubtitle">{{ nextruta.hora |date:"l, d \d\e F \d\e Y H:i" }}</span>
                </div>
                <div class="right">
                    <span class="number">#</span>
                    <span class="info">asistentes</span>
                </div>

                <div class="action1"><img src="{{ STATIC_URL }}images/md/navigation/ic_more_vert_grey600_16dp.png   "/></div>
                <div style="clear: both;"></div>
            </div>

            <div class="box-navigation">
                <span id="box-option-information" class="option option-selected">Informacion</span>
                <span id="box-option-recorrido" class="option">Recorrido</span>
                <span id="box-option-comentarios" class="option">Comentarios</span>
            </div>

            <div class="box-content">
                <div id="box-option-information-tab" class="box-tab">

                    <div class="field">
                    <span class="field-data">{{ nextruta.eventoTipo }}</span><span class="field-title">Tipo</span>
                    </div>
                    <div class="field">
                    <span class="field-data">{{ nextruta.ruta.nombre }}</span><span class="field-title">Nombre</span>
                    </div>
                    <div class="field">
                    <span class="field-data">{{ nextruta.ruta.dificultad }}</span><span class="field-title">Dificultad</span>
                    </div>
                    <div class="field">
                    <span class="field-data">{{ nextruta.ruta.tiempoFormateado }}</span><span class="field-title">Duración estimada</span>
                    </div>
                    <div class="field">
                    <span class="field-data">{{ nextruta.ruta.desnivelAcumuladoFormateado }}</span><span class="field-title">Desnivel acumulado</span>
                    </div>


                    <div style="clear: both;"></div>

                    {% if nextruta.ruta.imagen_perfil %}
                        <br>
                        <div class="separator"></div>
                        <img src="{{ MEDIA_URL }}{{ nextruta.ruta.imagen_perfil }}" width="100%">
                    {% endif %}

                </div>

                <div id="box-option-recorrido-tab" class="box-tab" style="display: none;"></div>

                <div id="box-option-comentarios-tab" class="box-tab" style="display: none;">
                    {% if nextruta.comentario %}
                    <span class="ui-color-soft">{{ nextruta.comentario }}</span>
                    {% else %}
                    <span class="ui-color-soft">No hay comentarios para esta ruta</span>
                    {% endif %}
                </div>

            </div>

        </div>
    </div>

    {% endif %}

{% endblock %}


{% block extrascripts %}
<script>
    $(document).ready(function() {
        $('.option').click(function(){

            $('.box-navigation span').removeClass('option-selected');
            $(this).addClass('option-selected');

            $('.box-tab').hide();
            $('#' + $(this).attr('id') + '-tab').show();

            if ($('#box-option-recorrido-tab').html() == '') {
                evento_detalle_load_ruta();
            }
        });
    });

    function evento_detalle_load_ruta() {
        {% if nextruta.ruta.mapa_url %}
            $('#box-option-recorrido-tab').html('<iframe frameBorder="0" src="{{ nextruta.ruta.mapa_url }}" width="100%" height="400"></iframe>');
        {%  else %}
            $('#box-option-recorrido-tab').html('<span class="ui-color-soft">{{ nextruta.ruta.descripcion }}</span>');
        {% endif %}
    }

</script>
{% endblock %}
