html, body { background-color: #F1F3F2; color: #8e8e8e; }

.jp-main-header { background-color: #008ab9; color: white; border-top: 1px solid #0083b7; }

.jp-nav { background-color: white; border-left: 1px solid #f4f6f5; }
.jp-nav .box .section { border-bottom: 1px solid #F1F3F2;}

.jp-section .box { border: 1px solid #e1e1e1; background-color: white;}
.jp-section .box .box-event-back { background-image: url('../images/md/navigation/ic_chevron_left_grey600_48dp.png'); }
.jp-section .box .box-header { border-bottom: 1px solid #f5f5f5; }
.jp-section .box .box-header .center .title { color: #1e1e1e; }
.jp-section .box .box-header .center .subtitle {  color: #7b7b7b; }
.jp-section .box .box-header .center .subsubtitle { color: #cccccc; }
.jp-section .box .box-header .right .number { color: #3f3f3f; }
.jp-section .box .box-header .right .info { color: #7b7b7b; }











.jp-section .box .box-navigation .option { margin: 0 15px 0 15px; padding: 0 5px 5px 5px; font-weight: bold; cursor: pointer; cursor: hand; }
.jp-section .box .box-navigation .option-selected { border-bottom: 2px solid #0185b6; color: #1e1e1e; }

.jp-section .box .box-content { padding: 10px 20px 20px 20px; top-bottom: 1px solid #fbfbfb; }

.jp-section .box .separator { border-top: 1px solid #f3f3f3;  margin: 0 20px 0 20px;}

.field { float: left; padding: 5px 25px 5px 0px; }
.field .field-data { display:block; line-height: 1.5em;  }
.field .field-title { color: #cccccc; display:block; line-height: 1em; font-size: 0.8em; }
.field .field-title { color: #cccccc; display:block; line-height: 1em; font-size: 0.8em; }


.jp-table { display: table; }
.jp-cell { display: table-cell; }



/* BUTTONS
 -------------------------------------------------------------------------------------------------------- */

.theme-button-color { background-color: #29b7e7; box-shadow: 2px 2px 2px #888888; }

.ic-content-undo-24 { background-image: url('../images/md/content/ic_undo_white_24dp.png'); background-position: center; background-repeat: no-repeat; }
.ic-navigation-check-24 { background-image: url('../images/md/navigation/ic_check_white_24dp.png'); background-position: center; background-repeat: no-repeat; }
.ic-navigation-cancel-24 { background-image: url('../images/md/navigation/ic_cancel_white_24dp.png'); background-position: center; background-repeat: no-repeat; }



/** Larger Screens - desktops and tablets
    ---------------------------------------------------------------------------
**/

@media screen and (max-width: 700px) {

.jp-nav { border: none; }

}