/*
 * GUADABIKE DARK STYLE
 *
 * Author: Antonio Hermosilla Parra
 */

/* USER INTERFACE COMMON */

body { background-color: #2b2b2b; color: #d9d9d9; }

.bk-color-high { color: white; }
.bk-color-title { color: #bfbfbf; }
.bk-color-soft { color: #828282; }
.bk-color-primary { color: #adde6a }
.bk-color-secondary { color: #f9540c }

input[type='text'] { border: 0px; background-color: transparent; width: 100%;}
input[type='email'] { border: 0px; background-color: transparent; width: 100%;}
textarea { border: 0px; background-color: transparent; width: 100%; resize: none; }

/* MAIN SECTIONS */

.bk-main-section { padding: 20px 0px 20px 0px; }
.bk-main-section .bk-title { font-size: 0.8em; color: #bfbfbf;  margin: 2%; }
.bk-main-section .bk-content { width: 100%; background-color: #393939; border-top: 1px solid #474747; border-bottom: 1px solid #161616; }
.bk-main-section .bk-content .bk-c1 { vertical-align: top; }
.bk-main-section .bk-content .bk-c2 { width: 100%; vertical-align: top; }
.bk-main-section .bk-content .bk-c3 { vertical-align: middle; }

.bk-main-section .bk-content .bk-info { text-align: center; vertical-align: middle; padding: 5px; color: #bfbfbf; font-size: 0.8em; }
.bk-main-section .bk-content .bk-separator { border-left: 1px solid #161616; }


/* BOX */

.bk-box { background-color: #393939; color: #d3d3d3; font-size: 11px; }

.bk-box .bk-title { color: #bfbfbf; text-align: center; text-transform:uppercase; border-top: 1px solid #2d2d2d; border-bottom: 1px solid #0d0d0d; font-weight: bold; background-color: #2d2d2d; padding: 3px 0px 2px 10px; }
.bk-box .bk-content { border-top: 1px solid #3a3a3a; border-bottom: 1px solid #3a3a3a; background-color: #393939;  padding: 5px; }
.bk-box .pair { background-color: #333333}

.bk-box-info {  background-color: #080808; padding-top: 1px; padding-bottom: 1px;  }
.bk-box-info div { background-color: #2d2d2d; padding-top: 8px; padding-bottom: 8px;   }
.bk-box-info div span { display: block; }

.bk-box-error { margin: 10px; }
.bk-box-error li { color: #adde6a; font-size: 12px; }

/* LOGIN */
.bk-login input[type='text'], input[type='password'] { border: 1px solid gray; width: 200px; background-color: #e6e6e6;}


/* PC - FULL SIZE
 -------------------------------------------------------------------------------------------------------- */

@media (min-width: 600px) {

.ui-fluid-container .c1 { margin: 1%; border: 1px solid  #0d0d0d; }
.ui-fluid-container .c2 { width: 56%; margin: 1%; border: 1px solid  #0d0d0d;  }
.ui-fluid-container .c3, .ui-fluid-container .c4, .ui-fluid-container .c5 { width: 33.33%; }

}