html, body {
    height:100%; min-width: 700px;
    font-size: 12px; font-family: Helvetica Neue, Helvetica, sans-serif;
    margin: 0; padding: 0;
}

/* COMUN */

input[type="text"] { appearance: none; box-shadow: none; border-radius: none; padding: 2px 5px 2px 5px; }

/* CABECERA DEL MENÚ DE APLICACION */

.jp-main-header {  position: fixed; top:0; left:0; width:100%; height:70px; z-index: 100; }
.jp-main-header .content { width: 80%; min-width: 700px; float: right; height:100%; }
.jp-main-header .content .logo { padding: 0 25px 0 20px; line-height: 1.5em; font-size: 2.5em; font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif; vertical-align: middle; }
.jp-main-header .content .menu { position: static; display: table-cell; left: auto; top: auto; background-color: transparent; height: auto; width: 100%; vertical-align: middle; z-index: auto;  }
.jp-main-header .content .menu-in {}
.jp-main-header .content .menu .option { display: inline-block; padding: 0 10px 0 15px; font-weight: bold; cursor: pointer; cursor: hand; }
.jp-main-header .content .menu .option .icon { display: none; }
.jp-main-header .content .action { vertical-align: middle; padding: 0 20px 0 5px; cursor: pointer; cursor: hand; }

/* CONTENIDO DE LA APLICACION */

.jp-main-content { display:table;	min-height: 100%; float: right; width: 80%; min-width: 700px; padding-top: 70px; }

.jp-nav { display: table-cell; width: 35%; vertical-align: top; }
.jp-nav .box { }
.jp-nav .box .section { padding: 10px; }

.jp-section { display: table-cell; width: 65%; vertical-align: top; }

.jp-section .box { position: relative; margin: 10px 10px 10px 10px; border-radius: 3px; }
.jp-section .box .box-event-back { cursor: pointer;  position: absolute; top: 0px; left: -52px; width: 48px; height: 48px; }
.jp-section .box .box-header { position: relative; padding: 10px;  }
.jp-section .box .box-header .image { float:left; margin: 10px;	}
.jp-section .box .box-header .image img { width:80px; height:80px; }
.jp-section .box .box-header .center { float: left; margin: 10px; }
.jp-section .box .box-header .center .title { font-size: 1.7em; display:block; line-height: 1.2em; }
.jp-section .box .box-header .center .subtitle { display: block; line-height: 2em;}
.jp-section .box .box-header .center .subsubtitle { display: block; line-height: 2em; font-size: 0.9em; }
.jp-section .box .box-header .right { float: right;  margin: 10px; }
.jp-section .box .box-header .right .number { font-weight: bold; font-size: 1.3em; display:block; text-align: right; padding-top: 40px}
.jp-section .box .box-header .right .info { font-size: 1.3em; display:block; text-align: right;}
.jp-section .box .box-header .action1 { position: absolute; right: 10px; cursor: pointer; cursor: hand;}

.jp-section .box .box-navigation { padding: 15px 10px 15px 10px; }
.jp-section .box .box-navigation .options { display: table; width: 100%; text-align: center; }
.jp-section .box .box-navigation .options .option { display: table-cell; margin: 0 15px 0 15px; padding: 0 5px 5px 5px; font-weight: bold; cursor: pointer; cursor: hand; }

.jp-section .box .box-content { padding: 10px 20px 20px 20px;  }
.jp-section .box .box-content .box-image { width: 100%; }

.jp-section .box .box-form { padding: 10px 20px 20px 20px;  }
.jp-section .box .box-form .title { margin: 10px 10px 10px 20px; width: 100%; font-size: 1.1em; }
.jp-section .box .box-form .field { width: 100%; }
.jp-section .box .box-form .field .field-data { float: left; width: 50%; clear: both;}
.jp-section .box .box-form .field .field-title { float: left; margin-bottom: 5px; }
.jp-section .box .box-form .field .field-info { float: left; margin-left: 20px; font-size: 0.8em; }

.jp-section .box .separator { border-top: 1px solid #f3f3f3;  margin: 0 20px 0 20px;}

.field { float: left; margin: 5px 25px 5px 0px; min-width: 100px;}
.field .field-data { display:block; line-height: 1.5em;  }
.field .field-title { display:block; line-height: 1em; font-size: 0.8em; }

/* CAPA DE INHABILITACION GLOBAL */

.jp-main-shadow { display: none; position: fixed; z-index: 25; width: 100%; height: 100%;
    top: 0px; left: 0px; background-color: grey; opacity: 0.75; filter: alpha(opacity=75); }


/** Larger Screens - desktops and tablets
    ---------------------------------------------------------------------------
**/

@media screen and (max-width: 700px) {

/* In mode large screen*/

#large-mode { display: none }

html, body { min-width: 300px; }


/* CABECERA DEL MENÚ DE APLICACION */

.jp-main-header { height: 40px;  }
.jp-main-header .content { width: 100%; min-width: 300px; }
.jp-main-header .content .logo { padding: 0 5px 0 5px; font-size: 1.4em; }
.jp-main-header .content .menu {  display: block; position: fixed; left: 0px; top:41px; background-color:white; height:100%; width: 0px; z-index: 50; overflow: hidden;}
.jp-main-header .content .menu-in { display: block; width: 90%; }
.jp-main-header .content .menu .option { min-width: 150px; display: block; padding: 15px 10px 15px 45px; font-weight: bold; color: grey; cursor: pointer; cursor: hand; }
.jp-main-header .content .menu .option .icon { display: inline-block; margin-right: 10px; }
.jp-main-header .content .action { padding: 0 10px 0 10px; }

/* CONTENIDO DE LA APLICACION */

.jp-main-content { display: block; float: none; width: 100%; min-width: 0; min-height: auto; padding-top: 43px;}

.jp-nav { display: block; width: 100%; vertical-align: top; }

.jp-section { display: block; width: 100%; vertical-align: top; }
.jp-section .box { position: relative; margin: 3px 3px 25px 3px; border-radius: 3px;}
.jp-section .box .box-header { padding: 5px; }
.jp-section .box .box-header .image img { width:60px; height:60px; }
.jp-section .box .box-header .center .title { font-size: 1.3em; }
.jp-section .box .box-header .center .subtitle { font-size: 0.9em; }
.jp-section .box .box-header .right {  margin: 40px 10px 5px 5px; }
.jp-section .box .box-header .right .number { font-size: 1.1em; }
.jp-section .box .box-header .right .info { font-size: 1.1em; }
.jp-section .box .box-navigation .option { margin: 0 5px 0 10px; padding: 0 3px 3px 3px; font-size: 0.95em; }

}