{% extends "_template/base-page.html" %}

{% load staticfiles %}
{% load i18n %}


{% block content %}

<main>

    <form method="post" action="{% url 'administration:admin_user_invitation' %}">

        {% if formulario.errors %}
        <div class="bk-box">
            <div class="danger">
                {{ formulario.correo.errors }}
            </div>
        </div>
        {% endif %}

        <div class="ui-clear-both"></div>

        {% csrf_token %}
         <div class="clear bk-box ">

            <div class="bk-title">INVITACION DE USUARIO</div>

            <div class="bk-content">
                <span class="ui-color-soft">{{ formulario.nombre.label }} </span>
            </div>
            <div class="bk-content pair">
                <span class="ui-color-soft">{{ formulario.nombre }}</span>
            </div>
            <div class="bk-content">
                <span class="ui-color-soft">{{ formulario.correo.label }} </span>
            </div>
            <div class="bk-content pair">
                <span class="ui-color-soft">{{ formulario.correo }}</span>
            </div>
            <div class="bk-content">
                <span class="ui-color-soft">{{ formulario.mensaje.label }} </span>
            </div>
            <div class="bk-content pair">
                <span class="ui-color-soft">{{ formulario.mensaje }}</span>
            </div>

            <div class="bk-title"><input type="submit" value="Enviar" class="button--primary"/></div>

        </div>

    </form>

</main>

{% endblock %}