{% if confirmado %}

    <div class="field">
    {% if asiste %}
        <span class="field-data">Has confirmado tu asistencia.</span><span class="field-title">Asistencia al evento</span>
    {% else %}
        <span class="field-data">Has confirmado que no asistirás.</span><span class="field-title">Asistencia al evento</span>
    {% endif %}
    </div>

    <div class="ui-button-1 theme-button-color ic-content-undo-24" onclick="bk_calendar_eventoAsiste('{{ evento_id }}', '{{ request.user.id }}', 2)"></div>

{% else %}

    <span class="jp-text-high">¿Deseas confirmar asistencia a ruta?</span>

    <div class="ui-button-1 theme-button-color ic-navigation-check-24" onclick="bk_calendar_eventoAsiste('{{ evento_id }}', '{{ request.user.id }}', 1)"></div>
    <div class="ui-button-2 theme-button-color ic-navigation-cancel-24" onclick="bk_calendar_eventoAsiste('{{ evento_id }}', '{{ request.user.id }}', 0)"></div>

{% endif %}

<input id="event_next_asistencia_nAsistentes" type="hidden" value="{{ nAsistentes }}"/>
<div class="ui-clear-both"></div>