{% extends "_template/base-page.html" %}

{% load i18n %}
{% load binky_calendar %}

{% block extrastyle %}

    <style>

    </style>

{% endblock %}

{% block content %}

    <div class="jp-section">
        <div class="box">

            <div class="box-event-back ui-pc" onclick="location.href='{% url 'home' %}';"></div>

            <div class="box-content">

                <p style="text-align: center;">Introduce tu correo electrónico y contraseña</p>

                <div style="clear: both;"></div>

                <br>
                <div class="separator"></div>

                <br>


                <form method="post" action="{% url 'guadiabike.views.login' %}">
    		    {% csrf_token %}

                    {% if form.errors %}
                        <span class="icon-circle themed--background"><i class="icon icon-question"></i></span>
                    {% else %}
                        <span class="icon-circle themed--background"><i class="icon icon-diamond"></i></span>
                    {% endif %}

                    {% if form.errors %}
                    <span>Usuario o password incorrectos.</span>
                    {% endif %}

                    <div class="field"></div>

                    <div class="field">
                    <span class="field-data">{{ form.username }}</span><span class="field-title">Usuario</span>
                    </div>

                    <div class="field">
                    <span class="field-data">{{ form.password }}</span><span class="field-title">Password</span>
                    </div>

                    <div class="field">
                    <span class="field-data"><input type="submit" value="Login" class="button--primary"/>
                    </div>

                    <div style="clear: both;"></div>


                    <input type="hidden" name="next" value="{{ next }}" />

                </form>

            </div>

        </div>
    </div>

    <!-- RIGHT MENU -->



{% endblock %}